@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

body{
    /* background-color: #F7F7F7; */
    background-color: white;
}

.custom-navbar{
    background-color: white;
    z-index: 99;
}

.custom-login-btn{
    display: inline;
    margin-right: 25px;
    cursor: pointer;
    color: #789461;
}

.custom-login-btn:hover{
    color: #294B29;
}

.custom-slash-tagline{
    display: inline;
}

.custom-navbar-stick{
    position: sticky;
    top: 0;
    z-index: 200;
}

.custon-navbar-options-div{
    background-color: white;
}

.custom-navbar-options{
    margin-top: 15px;
}

.custom-navbar-options li{
    display: inline;
    
    margin-left: 40px;
    
    font-weight: 400;
}

.custom-navbar-options li a{
    text-decoration: none;
    color: #676b60;
    cursor: pointer;
}

.custom-navbar-options li a:hover{
    color: black;
}


.custom-banner-img-desktop{
    height: 25pc;
    width: 73.5pc;
    margin-left: 5rem;
}

.custom-banner-img-mobile{
    display: none;
}

.custom-sidebar-nav{
    height: 23pc;
    width: 17pc;
    position: relative;
    top: 30px;
    background-color: #0f0f0f;
    color: white;
    box-shadow: 2px 1px 3px black;
    border-radius: 15px;
    padding-top: 10px;
}

.custom-sidebar-nav a{
    color: white;
    margin-top: 5px;
}

.custom-sidebar-nav a:hover{
    color: #7b997b;
}


.custom-sidebar-nav div{
    width: 270px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.custom-sidebar-nav div a{
    width: 15pc;
    border-radius: 6px;
}


.custom-category-card{
    opacity: .8;
    color: white;
    cursor: pointer;
}

.custom-blogs-slide{
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow: hidden;
    flex-wrap: nowrap;
    margin-top: 90px;
}

.custom-mdLeft-arrow{
    position:absolute;
    width:40px;
    height:40px;
    z-index:1;
    left:0;
    border-radius:20px;
    opacity:.7;
    top:75.5pc;
    cursor:pointer
}

.custom-mdRight-arrow{
    position:absolute;
    width:40px;
    height:40px;
    z-index:1;
    right:0;
    border-radius:20px;
    opacity:.7;
    top:75.5pc;
    cursor:pointer
}

.custom-recentBlogsSlide-h3Tag{
    position:absolute;
     top:65pc;
     left:15px;
}

.custom-blogs-slide h3{
    position: absolute;
    top: -5px
}

.custom-blog-card{
    height: 15pc;
}

.custom-today-pick{
    margin-top: 80px;
    margin-left: 4px;
}

.custom-todayPick-mainDiv{
    height: 21pc;
}

.custom-todayPick-mainDiv img {
    height: 19.8pc;
    width: 33pc;
}

.custom-footer-page{
    background-color: #0f0f0f;
    height: 27pc;
    margin-top: 90px;
}

.custom-footer-col1{
    background-color: white;
    color: black;
    height: 3pc;
    margin-top: 100px;
    position: relative;
}

.custom-footer-col1 img{
    display: inline;
    position: absolute;
    left: 5rem;
}

.custom-footer-col1 h3{
    display: inline;
    position: absolute;
    top: 4px;
    left: 11rem;

}

.custom-footer-col2{
    margin-top: 50px;
    margin-left: 130px;
}

.custom-footer-col2 p{
    margin-top: 11px;
    color: #8b8b8d;
}

.custom-footer-col3{
    margin-top: 50px;
    margin-left: 70px;
}

.custom-footer-col3 input{
   margin-top: 5px;
   padding: 7px 10px;
   background-color: #39393f;
   border-radius: 12px;
   border: 0;
   box-sizing: border-box;
   color: #eee;
   font-size: 18px;
   outline: 0;
   display: block;

} 

.custom-footer-col3 button{
    padding: 5px 5px;
    margin-left: 3px;
}

.custom-footer-row2{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.custom-footer-divider{
    border: 0.1px solid #8b8b8d;
    height: 0.1px;
    width: 50pc;
    position: absolute;
    top: -10px;
}

.custom-footer-row2-icons{
    width: 20pc;
    height: 10px;
    position: absolute;
    left: 37.1rem;
    top: 5px;
}



.custom-footer-row2-icons img{
    margin-left: 20px;
    cursor:pointer;
}

.custom-footer-row2 p{
    font-size: 0.9rem;
    color: #8b8b8d;
    width: 20rem;
    position: absolute;
    top: 40px;
    left: 36.6pc;
}

.custom-viewblog{
    background-color: white;
}

.custom-viewblog-row{
    display: flex;
    justify-content: center;
}

.custom-viewblog-row > div{
    min-height: 80vh;
}

.custom-viewblog-header{
    word-wrap: break-word;
}

.custom-viewblog-header h1{
    font-weight: 700;
}

.custom-viewblog-published {
    height: 35px;
    width: 40pc;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}

.custom-viewblog-published p{
    margin-top: 5px;
    color: #6B6B6B;
    font-size: 15px;
    position: absolute;
    right: -20px;
}

.custom-viewblog-published h6{
    margin-top: 6px;
    color: #6B6B6B;
}

.custom-viewblog-image{
    height: 25pc;
}

.custom-viewblog-image img{
    height: 25pc;
}

.custom-viewblog-para div{
    word-wrap: break-word;
    font-size:1rem;
}

.custom-blogLoading-div1{
    height: 20px;
    border-radius: 10px;
    background-color: #E3E1D9;
}

.custom-blogLoading-div2{
    height: 50px;
    border-radius: 10px;
    background-color: #E3E1D9;
}

.custom-blogLoading-div3{
    height: 50px;
    width: 20pc;
    border-radius: 10px;
    background-color: #E3E1D9;
}

.custom-blogLoading-div4{
    height: 16pc;
    border-radius: 10px;
    background-color: #E3E1D9;
}

.custom-blogcard-coloumn{
    width: 14.5pc;
}

.custom-blogcard-div1{
    height: 9pc;
    background-color: #E3E1D9;
    border-radius: 5px;
}

.custom-blogcard-div2{
    height: 2.5pc;
    background-color: #E3E1D9;
    border-radius: 8px;
}

.custom-blogcard-div3{
    height: 1pc;
    background-color: #E3E1D9;
    border-radius: 7px;
}

.custom-writeblog-parentdiv{
    height: 45.6pc;
}

.popup-container {
    position: fixed;
    top: 8pc;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  

.popup-container {
    backdrop-filter: blur(8px);
}

.popup a{
    margin: 10px;
    padding: 10px 25px;
}

.custom-writeBlog-loading{
    background-color: #E3E1D9;
    height: 31pc;
}

.custom-writeBlog-loading button{
    margin-top: 10pc;
}

.custom-noBlogsShow .col{
    display: flex;
    justify-content: center;
}

.custom-noBlogsShow .col h1{
    margin-top: 8%;
    
}

.custom-blog-card{

    position: relative;
}

.custom-myBlogs-icons{
    position: absolute;
    bottom: 1%;
    right: 5%;
    width: 20%;
}

.custom-myBlogs-icons i{
    margin-inline: 6%;
}

@media (max-width: 430px){


    .custom-navbar{
        background-color: white;
        z-index: 99;
        margin-top: 10px;
    }

    .navbar-top-btns{
        display:flex;
        justify-content: flex-end;
    }
    
     .custom-login-btn{
        display: inline;
        cursor: pointer;
        color: #789461;
        margin-top: 2%;
    }
    
    .custom-login-btn:hover{
        color: #294B29;
    }

    .custom-navbar-tagDiv{
        width: 30%;
        position: relative;
    }

    .custom-navbar-tagDiv img{
        position: absolute;
        left: -15px;
        top: -10px;
    }
    
    .custom-slash-tagline{
        display: inline;
        position: absolute;
        left: 44px;
    }

    .navbar-top-btns{
       position: relative;
       top: -6px;
       padding-left: 25px;
    }
    
    .custom-navbar-stick{
        position: sticky;
        top: 0px;
        z-index: 200;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
    }

    
    .custom-navbar-options{
        margin-top: 18px;
        width: 128%;
        position: relative;
        left: -60px;
    }

    .custom-navbar-spaceDiv{
        display: none;
    }
    
    .custom-navbar-options li{
        display: inline;
        font-weight: 400;
        margin-left: 5%;
    }
    
    .custom-navbar-options li a{
        text-decoration: none;
        color: #676b60;
        cursor: pointer;
        margin: 0;
    }
    
    .custom-navbar-options li a:hover{
        color: black;
    } 

    .custom-banner-img-desktop{
        display: none;
    }

    .custom-banner-img-mobile{
        display: block;
    }

    .custom-sideBar-mainDiv{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .custom-sidebar-nav{
        height: 18pc;
        width: 15pc;
        position: relative;
        top: 0;
        background-color: #0f0f0f;
        color: white;
        box-shadow: 2px 1px 3px black;
        border-radius: 15px;
        padding-top: 15px;
    }
    
    .custom-sidebar-nav a{
        color: white;
        margin-top: 5px;
    }
    
    .custom-sidebar-nav a:hover{
        color: #7b997b;
    }
    
    
    .custom-sidebar-nav div{
        width: 200px;
        position: absolute;
        bottom: 0;
        left: 19px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .custom-sidebar-nav div a{
        width: 15pc;
        border-radius: 6px;
    } 

    .custom-category-card{
        opacity: .8;
        color: white;
        cursor: pointer;
    }

    .custom-category-mobParentDiv{
        position: relative;
        top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-category-mobParentDiv h3{
        position: relative;
        left: -12px;
        top: 10px;
    }

    .custom-category-mobile{
        position: relative;
        top: 10px;
        width: 24pc;
    }

    .custom-category-mobile a{
        width: 12pc;
    }

    .custom-blogs-slide{
        display: flex;
        position: relative;
        overflow-x: scroll;
        scroll-behavior: smooth;
        flex-wrap: nowrap;
        margin-top: 8pc;
    }
    
    .custom-mdLeft-arrow{
       display: none;
    }
    
    .custom-mdRight-arrow{
       display: none;
    }
    
    .custom-recentBlogsSlide-h3Tag{
        position:absolute;
        top:96pc;
        left:9px;
    }

    .custom-today-pick{
        position: relative;
        width: 100%;
    }
    
    .custom-todayPick-mainDiv{
        height: 20pc;
        display: flex;
        justify-content: center;
    }

    .custom-todayPick-mainDiv .row {
        width: 100%;
        display: block;
    }
    
    .custom-todayPick-mainDiv .row .col {
        margin-bottom: 20px;
        
    }

    .custom-todaypic-col-img{
        padding: 0;
        position: relative;
        left: -8px;
    }

    .custom-todaypic-col-img img{
        width: 24pc;
    }

    .custom-footer-page {
        background-color: #0f0f0f;
        margin-top: 30pc;
        height: 60pc;
    }

    .custom-footer-page .row{
      display: block;
      width: 100%;
      margin-left: 0;
    }
    
    .custom-footer-col1{
        background-color: white;
        color: black;
        height: 3pc;
        width: 17pc;
        margin-top: 6pc;
        margin-left: -12px;
    }
    
    .custom-footer-col1 img{
        display: inline;
        position: absolute;
        left: 3rem;
    }
    
    .custom-footer-col1 h3{
        display: inline;
        position: absolute;
        top: 9px;
        left: 8rem;
    }
    
    .custom-footer-col2{
        margin-top: 6pc;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .custom-footer-col2 p{
        text-align: center;
        margin-top: 2px;
        color: #8b8b8d;
    }
    
    .custom-footer-col3{
        margin-top: 6pc;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .custom-footer-col3 input{
       margin-top: 5px;
       padding: 7px 10px;
       background-color: #39393f;
       border-radius: 12px;
       border: 0;
       box-sizing: border-box;
       color: #eee;
       font-size: 18px;
       outline: 0;
       display: block;
    
    } 
    
    .custom-footer-col3 button{
        padding: 5px 5px;
        margin-left: 3px;
    }
    
    .custom-footer-row2{
        margin-top: -60px;
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .custom-footer-divider{
        border: 0.1px solid #8b8b8d;
        height: 0.1px;
        width: 93%;
        position: absolute;
        top: 0;
    }
    
    .custom-footer-row2-icons{
        width: 100%;
        height: 20px;
        position: relative;
        left: 0rem;
        top: 3pc;
        display: flex;
        justify-content: center;
    }
    
    .custom-footer-row2-icons img{
        margin-left: 0px;
        margin-inline: 20px;
        cursor:pointer;
    }
    
    .custom-footer-row2 p{
        font-size: 0.9rem;
        color: #8b8b8d;
        width: 100%;
        position: relative;
        top: 5pc;
        left: 0pc;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .custom-allCat-mainDiv div .custom-category-mobile{
        width: 113%;
        margin-left: -25px;
      
    }

    .custom-allCat-mainDiv div .custom-category-mobile a{
        min-width: 50%;
        max-width: 20%;
        
    }

    .custom-allCat-backBtn{
        display: none;
    }

    .custom-allCat-mainDiv ~.custom-footer-page{
        margin-top: 120px;
    }

    .infinite-scroll-component {
        margin-right: 30px;
        display: flex;
        justify-content: center;
    }

    .custom-myblogs-mobmainDiv ~ .custom-footer-page{
        margin-top: 120px;
    }

    .custom-myblogs-mobChild{
        width: 95%;
        display: flex;
        justify-content: center;
    }

    .custom-myblogs-headerRow a{
        display: none;
    }

    .custom-writeblog-parentdiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-writeblog-parentdiv > .row:first-child{
        margin-top: 10%;
        width: 90%;
    }

    .custom-writeblog-parentdiv > .row:last-child{
        align-self: flex-end;
        margin-top: 40px;
    }

    .custom-writeblog-parentdiv > .row:last-child input{
        width: 100%;
    }

    .custom-writeblog-mobDiv .custom-footer-page{
        margin-top: 40%;
    }

    .custom-blogcardload-mobMainDiv .col-3:last-child{
        display: none;
    }

    .custom-blogcardload-mobMainDiv .col-3{
        position: relative;
        left: -50px;
    }

    .custom-viewblog-header{
        text-align: center;
    }

    .custom-viewblog-row .col-6{
        width: 100%;
    }

    .custom-viewblog-published{
        width: 99%;
    }

    .custom-viewblog-published .col-4{
        width: 84%;
    }

    .custom-viewblog-para div img{
        width: 100%;
        height: 20%;
    }

    .custom-viewblog .custom-footer-page{
        margin-top: 20%;
    }

    .custom-viewblog-para div iframe{
        width: 100%;
        height: 20%;
    }

    .custom-viewblog-header .badge{
        width: 90%;
        margin-left: 5%;
    }

    .custom-recentBlogs-mob ~ .custom-footer-page{
        margin-top: 20%;
    }

    .custom-login-mainDiv{
        margin-left: 0%;
    }

    .custom-login-mainDiv .col-5{
        margin-top: 20%;
        width: 100%;
    }

    .custom-categoryBlogs-rowDiv{
        display: flex;
        justify-content: center;
    }

    .custom-categoryBlogs-mobMain .row:first-child a{
        display: none;
    }

    .custom-categoryBlogs-mobMain ~.custom-footer-page{
        margin-top: 20%;
    }



    







    
}